/*Mobile-first*/
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:none;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
a{text-decoration: none;}
ul{list-style: none;}
img{width: 100%;}
::-webkit-scrollbar {
    width: 0px;
}
.paralisa-body{
	overflow: hidden;
}
/*CONFIGURAÇÕES DO GRID-CONTAINER*/	
.grid-container{
	width: 100%;
	display: grid;
	grid-template-columns: [inicio]30px[inicio-temp] 1fr repeat(21, 10px 1fr)[fim-temp]30px[fim];
	grid-template-rows: [inicio-cabecalho] auto [fim-cabecalho]10px
			  [inicio-servicos] auto[fim-servicos]10px
			  [inicio-slider] 30vh [fim-slider]10px
			  [inicio-projetos]30vh[fim-projetos]10px
			  [inicio-footer] 70vh [fim-footer];
	background-color: #efefef;
}
 .item{
 	background-color: #333;
 }
.title-sections{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title-sections h2{
	color: #333;
	font-size: 1em;
	margin-bottom: 10px;
}
.title-sections hr{
	width: 70px;
	height: 3px;
	background-color: #0af;
	margin-bottom: 40px;
}
.container-cabecalho{
	grid-column:inicio / fim ;
	grid-row:inicio-cabecalho / fim-cabecalho ;
	background: linear-gradient(rgba(46, 49, 49, 0.8),rgba(46, 49, 49, 0.8)), url(../img/jpg/cabecalho.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
#content-logo-btn-menu{
	width: 100%;
	display: flex;
	justify-content: space-between; /*qunado o menu estiver aberto - flex-end*/
	align-items: center;
	transition: .3s;
	padding:  20px ;
	border-bottom:rgba(255,255,255,.2) 1px solid;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.logo{
	color: #0af;
	font-size: 1.6em;
	transition: .3s;
}
.logo span{
	color: #fff;
}
#btn_menu{
	width: 35px;
	height: 35px;
	padding: 5px 3px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.6em;
	color: #fff;					
	transition: 0.3s;
	z-index: 3;
}
#btn_menu .linha{
	width: 100%;
	height: 4px;
	background-color: #fff;
	transition: .3s;
}
.linha1{
	margin: 6px 0;
	align-self: center;
}
.togglel0{
	transform: translate(0,4px) rotate(45deg);
}
.togglel1{
	opacity: 0;
	margin: 0;
	transform: translateX(-20px);

}
.togglel2{
	transform: translate(0,-4px) rotate(-45deg);
}
/*menu*/
.content-menu{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top:0;
	left: 0;
	transform: translate3d(-100%,0,0);
	display:block;
	opacity: 0;
	transition: .6s;
	z-index: 1;

}
.content-menu-toggle{
	transition: .6s;
	transform: translate3d(0,0,0);
	opacity: 1;
}
.menu{
	width: 270px;
	height: 100%;
	background-color: #fff;
	transform: translateX(-70px);
	opacity: 0;
	transition: 1s;
}
.menu-toggle{
	transform: translateX(0);
	opacity: 1;
	transition: 1s;
}

.menu .section-midias{
	margin-bottom: 30px;
	border-bottom: 1px solid #efefef;
}
.menu .section-midias ul{
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
}
.menu .section-midias ul li{
	padding: 10px;
	font-size: 1.6em;
	flex: 1;
	display: flex;
	justify-content: center;
}
.menu .section-midias ul li:hover{background-color: #f1f1f1;}

.fa-instagram{color:#e74c6c}
.fa-facebook-f{color:#4267b2}
.fa-github{color:#252a2e}	
.fa-envelope{color:#c13b2c }

/*CONFIGURAÇÕES DO MENU*/
.menu{
	display: flex;
	flex-direction: column;
}
.menu li.item-menu{
	font-size: 1em;
	display: flex;
}
.menu li.item-menu a{
	color: #333;
	flex: 1;
	padding: 15px;
}
.menu li.item-menu a:hover{
	background-color: #333;
	color: #fff;
}
/*TITULOS CABEÇALHOS*/
.section-titles{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.section-titles h2{
	font-size: 1.5em;
	color: #ffffff;
	text-align: center;
	margin-bottom: 100px;
}
#div-subtitulo{
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(255,255, 255,0.2);
	opacity: 0;
	transition: .6s;
	transform: translate3d(-50px,0,0);
	display: flex;
	justify-content: center;
	text-align: center;
}
.section-titles p{
	color: #fff;
	transition: .6s;
	text-align: center;

}
.section-titles p::after{
	content: "|";
	margin-left: 5px;
	opacity: 1;
	animation: pisca .7s infinite;
	color: #333;
}
@keyframes pisca{
	0%,100%{opacity: 1}
	50%{opacity: 0}
}
/*buttons orçamento e mouse animado*/
.section-buttons{
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
}

.section-buttons #btn-orçamento{
	background-color: #0af;
	color: #fff;
	padding: 10px 15px;
	border-radius: 8px;
	margin-bottom: 40px;
}

.section-buttons #btn-mouse{
	width: 20px;
	height: 30px;
	border:1px solid #0af;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	align-items:flex-start;
	padding: 1px;
	background-color: transparent;
}

.section-buttons #btn-mouse span{
	width: 2px;
	height:4px;
	background-color: #0af;
	animation: mouse .8s infinite;
	transition: .3s;
}
@keyframes mouse{
	0%{transform: translate3d(0,-9px,0);opacity: 1;}
	50%{transform: translate3d(0,-6px,0);opacity: .5;}
	100%{transform: translate3d(0,0,0);opacity: 0;}
}


/*CONFIGURAÇÕES SEÇÃO DE SERVIÇOS*/
.container-servicos{
	grid-column: inicio-temp / fim-temp ;
	grid-row:inicio-servicos/fim-servicos ;
}
.servicos{
	width: 100%;
}
.servico{ /*ora que aparecer no scroll almentar a scale da img com js e o ttitle surge do left*/
	height: auto;
	background-color: #fff;
	display:flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
	font-family: 'Open Sans' sans-serif;
	cursor: pointer;
}
.servico .div-img{
	width: 100%;
	max-height: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}
.servico .div-img img{
	width: 200px;
	stroke:#333;
	stroke-width: 1px;
	transition: .5s;
	opacity: 0.7;
	transform: translateX(30px);
}

.servico .div-img .img-zoom{
	transform: scale(1.09);
	transform: translateX(0);
}

.servico .div-titles{
	text-align: center;
	padding: 30px;
	transform: translateX(-100px);
	transition: .5s;
	opacity: 0;
}
.servico .div-titles-active{
	transform: translateX(0);
	opacity: 1;
}
.servico .div-titles h2{
	color: #333;
	font-size: 1em;
	margin-bottom: 15px;;
}
.servico .div-titles p{
	color:#6f7c81 ;
}

/*CONFIGURAÇÃO DETALHES DOS SERVIÇOS*/
.detalhes-servicos{
	width: 100%;
	
}

.detalhe{
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	cursor: pointer;
	flex-direction: column;
}
.title-detalhe{
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content:flex-start;
	padding: 10px 15px;
	border-left: 2px solid #0af;
	font-size: 0.9em;
	margin-bottom: 15px;
}
.title-detalhe h2{
	flex: 1;
	text-align: center;
	color: #333 ;
}

.title-detalhe span{
	color:#6f7c81  ;
}


.itens-detalhe{
	display: flex;
	flex-direction: column;
	padding:0 10px;
}

.item-detalhe{
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	padding: 10px 15px;
	cursor: pointer;
	flex-direction: column;
	border-radius: 10px 10px 0 0;
	margin-bottom: 20px;
}
.title-item{
	width: 100%;
	font-size: 0.8em;
	color: #6f7c81;
	margin-bottom: 20px;
}
.title-item:hover{
	color: #333;
}
.title-item span{
	padding: 0 10px;
}

.contet-img-texto{
	display: flex;
	flex-direction: column;
}

.img-item{
	width: 100%;
	margin-bottom: 15px;
}
.img-item img{
	max-height: 100px;
}
.descricao-item{
	color: #6f7c81;
	text-align: center;
	padding: 10px 30px;
}




.container-slider{
	grid-column:inicio-temp  / fim-temp ;
	grid-row: inicio-slider/fim-slider;
}
.container-projetos{
	grid-column:inicio-temp / fim-temp ;
	grid-row: inicio-projetos/ fim-projetos;
}


/*FOOTER*/
.container-footer{
	grid-column:inicio / fim ;
	grid-row: inicio-footer / fim-footer;
}

@media screen and (min-width: 480px){
	.grid-container{
		width: 100%;
		display: grid;
		grid-template-columns: [inicio]70px[inicio-temp] 1fr repeat(21, 10px 1fr)[fim-temp]70px[fim];
		grid-template-rows: [inicio-cabecalho] auto [fim-cabecalho]10px
				  [inicio-servicos] auto[fim-servicos]10px
				  [inicio-slider] 30vh [fim-slider]10px
				  [inicio-projetos]30vh[fim-projetos]10px
				  [inicio-footer] 70vh [fim-footer];
		background-color: #efefef;
	}
}
@media screen and (min-width: 580px) { /*tamanho para tablet*/
	.grid-container{
		width: 100%;
		display: grid;
		grid-template-columns: [inicio]20px[inicio-temp] 1fr repeat(21, 10px 1fr)[fim-temp]20px[fim];
		grid-template-rows: [inicio-cabecalho] auto [fim-cabecalho]10px
				  [inicio-servicos] auto[fim-servicos]10px
				  [inicio-slider] 30vh [fim-slider]10px
				  [inicio-projetos]30vh[fim-projetos]10px
				  [inicio-footer] 70vh [fim-footer];
		background-color: #efefef;
	}
	.servicos{
		display: flex;
		justify-content: space-around;
		
	}
	.servicos .servico{
		width: 30%;
	}
	
	
}
@media screen and (min-width: 720px){

	#content-logo-btn-menu{
		padding: 20px 40px;
	}

}
